<main class="login-form">
    <h3>Inicio de Sesión</h3>
    <form [formGroup]="form" (ngSubmit)="Enviar()">
        <div class="campo">
            <label for="nombre-email">Nombre o Email </label>
            <input id="nombre-email" type="text" formControlName="email">
            <span class="error">
                @if (form.get('email')?.invalid && form.get('email')?.touched) {
                    Ingrese su Email
                }
            </span>
        </div>
        <div class="campo">
            <label for="contraseña">contraseña</label>
            <input id="contraseña" type="password" formControlName="password">
            <span class="error">
                @if (form.get('password')?.invalid && form.get('password')?.touched) {
                    Ingrese una Contraseña
                }
            </span>
        </div>
        <button class="btn-enviar" type="submit" [disabled]="form.invalid">Ingresar</button>
        <span class="error-general">{{ mensajeError() }}</span>
    </form>
</main>

